<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <img
        src="../../../assets/mediospago/icl.png"
        alt="Logo de la empresa"
        class="footer-logo"
      />
    </div>
    <div class="footer-section contact">
      <h2>Contacto</h2>
      <p>
        Email:
        <a href="mailto:incarlog&#64;outlook.com">incarlog&#64;outlook.com</a>
      </p>
      <p>Teléfono: +57 3154683596</p>
    </div>

    <div class="footer-section links">
      <h2>Redes sociales</h2>
      <ul class="social-icons">
        <!-- Redes Sociales con iconos -->
        <li>
          <a
            href="https://instagram.com/incarlog?igshid=MzRlODBiNWFlZA=="
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/share/14x5AjxhUK/?mibextid=LQQJ4d"
            target="_blank"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.tiktok.com/@incarlog?_t=8p9KmoucaYg&_r=1"
            target="_blank"
          >
            <i class="fab fa-tiktok"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    © 2024 ICL, creado por Daniel Mesa. Todos los derechos reservados.
  </div>
</footer>
