<nav class="menu-horizontal">
  <div class="logo">
    <img
      src="https://i.ibb.co/cFm3WNC/Logo-blanco.png"
      alt="Logo TCM Solutions Company"
      style="height: 40px"
    />
  </div>

  <!-- Menú hamburguesa -->
  <button class="burger-menu" aria-label="Menú" (click)="toggleMenu()">
    <span class="bars"></span>
    <span class="bars"></span>
    <span class="bars"></span>
  </button>

  <!-- Menú -->
  <ul class="navigation">
    <li><a href="#" class="nav-link">Inicio</a></li>
    <li><a href="#Soluciones" class="nav-link">Soluciones</a></li>
    <li><a href="#Explora" class="nav-link">Explora</a></li>
    <li><a href="#QuienesSomos" class="nav-link">Quienes somos</a></li>
    <li><a href="#MediosPago" class="nav-link">Medios de pago</a></li>
  </ul>
</nav>

<div class="carousel">
  <carousel>
    <slide>
      <img src="/./assets/mediospago/carruseldos.jpeg" alt="Imagen 1" />
    </slide>
    <slide>
      <img src="/./assets/mediospago/Carruseluno.jpeg" alt="Imagen 2" />
    </slide>
    <slide>
      <img
        src="https://i.ibb.co/ry3KpTY/cold-smooth-tasty.jpg"
        alt="Imagen 3"
      />
    </slide>
    <slide>
      <img src="/./assets/mediospago/carruseltres.jpeg" alt="Imagen 4" />
    </slide>
    <slide>
      <img
        src="https://i.ibb.co/g68QjjJ/cold-smooth-tasty-6.jpg"
        alt="Imagen 5"
      />
    </slide>
    <slide>
      <img
        src="https://i.ibb.co/z7CjdS5/cold-smooth-tasty-5.jpg"
        alt="Imagen 6"
      />
    </slide>
  </carousel>
</div>
