<!-- Botones flotantes -->
<div class="floating-buttons">
  <a
    href="https://instagram.com/incarlog?igshid=MzRlODBiNWFlZA=="
    target="_blank"
    class="floating-button instagram"
  >
    <i class="fab fa-instagram"></i>
  </a>
  <a
    href="https://wa.me/573154683596?text=Hola%20ICL%20buen%20d%C3%ADa%2C%20necesito%20de%20su%20asesor%C3%ADa%2C%20me%20podr%C3%ADa%20ayudar%3F"
    target="_blank"
    class="floating-button whatsapp"
  >
    <i class="fab fa-whatsapp"></i>
  </a>
  <a
    href="https://www.tiktok.com/@incarlog?_t=8p9KmoucaYg&_r=1"
    target="_blank"
    class="floating-button tiktok"
  >
    <i class="fab fa-tiktok"></i>
  </a>
</div>
