/* Importa los iconos de FontAwesome necesarios */
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css"
@import "~@fortawesome/fontawesome-free/css/brands.min.css" // Solo si es necesario

/* Variables para los colores */
$btn-hover-color: #128c7e
$btn-hover-instagram: #e1306c
$btn-hover-whatsapp: #25d366
$btn-hover-tiktok: #000
$btn-bg-color: #00adb5

/* Estilos globales */
body
  font-family: Arial, sans-serif
  margin: 0
  padding: 0

/* Estilo para los botones flotantes */
.floating-buttons
  position: fixed
  right: 10px
  top: 50%
  transform: translateY(-50%)
  z-index: 9999

.floating-button
  display: block
  margin: 10px 0
  padding: 15px
  border-radius: 50% // Redondear más el botón
  font-size: 24px
  color: white
  text-align: center
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  transition: background-color 0.3s ease

  &:hover
    background-color: $btn-hover-color

  &.instagram
    background-color: $btn-bg-color

    &:hover
      background-color: $btn-hover-instagram

  &.whatsapp
    background-color: $btn-bg-color

    &:hover
      background-color: $btn-hover-whatsapp

  &.tiktok
    background-color: $btn-bg-color

    &:hover
      background-color: $btn-hover-tiktok
